.footer{
  background-color: #3D4355;
  &__body{
    display: grid;
    grid-template-columns:240px 390px 200px;
    justify-content: space-between;
  }
  &__center{
    li{
      font-size: 12px;
    }
    li + li{
      margin-top: 10px;
    }
    ul:nth-of-type(n+3){
      margin-top: 30px;
    }
  }
}