.footer{
  background-color: #3D4355;
  &__body{
    display: grid;
    grid-template-columns:240px 390px 200px;
    justify-content: space-between;
  }
  &__center{
    li + li{
      margin-top: 10px;
    }
  }
}
